.header{
    font-size: 4rem;
    font-weight: 400;
    color: white;
}

.app__about{
    width: 100%;
 margin-top: 2rem;
}

.app__about p{
    font-size: 1.3rem;
    color: white;
    font-weight: 400;

}